<h1>Welcome to FlickQuiz</h1>

<% if user_signed_in? %>
  <% if @score == nil %>
    Total score: 0
  <% else %> 
    Total score: <%= @score %>
  <% end %>
<% end %>

<% if !@quiz %>
  <%= link_to "New Quiz", quizzes_path, method: :post %></br>
<% else %> 
  <% @quiz %>  
<% end %>