<html>
  <head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'></script>
    <script src="./assets/application.js"></script>
    <script src="./assets/flickQuiz_film.js"></script>
  </head>


  <body>
    <div id='main-container' class='container'>
      <div class="row">
        <div class='col-md-3'>
          </div>
            <div class="col-md-6 row text-center jumbotron">
              <h1>Guess The Film</h1>
                <h3>Year: <div id='year'></div></h3></br>
                <h3>Actors: <div id='actors'></div></h3></br>
                    <div class="form-group">
                  <h5>Which film: <br> <input id="filmGuess" type="text" name="filmGuess" class="form-control-static"></h5>
                    <br>
                    <input onclick="submitAnswer()"type="submit" class='btn btn-info'>
                    <input type="hidden" id="filmAnswer" name="filmAnswer" value="filmAnswer"/>
                    <input type="hidden" id="hiddenPoster" name="hiddenPoster" value="hiddenPoster"/>
                      <div id='result'></div>
                      <br>
                      <div id='answer'></div>
                      <br>
                      <div id='poster'></div>
                      <br>
                    <input id='reset' type='button' value='Play Again' onClick='newFilm()'class='btn btn-info'><br>
                     <% if user_signed_in? %>
                      <% if current_user.score == nil %>
                        Total score: 0
                      <% else %> 
                        Total score: <%= current_user.score %>
                      <% end %>
                    <% end %>
                    </div>
            </div>
          <div class="col-md-3"></div>
      </div>
    </div>

  


  </body>
</html>